.home-title, .home-subtitle, .service-title, .badge, .badge span {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
}

.home-image {
    background-size: 100% 100%;
    padding-top: 10px;
}

.home-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.home-subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .5rem;
}

/*services-list = icons and tagline*/
.services-list {
    list-style-type: none;
    padding-left: 0;
}

.services-list li {
    display: inline-block;
    margin-right: 20px;
}

.services-list li img {
    width: 46px;
    height: 38px;
    margin-bottom: 18px;
}

.service-title {
    font-size: 24px;
    padding-left: 15px;
    font-weight: 600;
}

/*Badge = the last updated tag in banner*/
.badge {
    background-color: #707070 !important;
    font-size: 16px;
    border-radius: 20px;
}

/* Review, Contact, Article, Review Detail, Article Detail, Terms, Editors Pages*/
.contact-section .home-title {
    margin-top: 0;
}

.contact-section .services-list, .contact-section p.badge, .reviews-section .services-list,
.articles-section .services-list, .article-details .services-list, .review-details .services-list, .terms-section .services-list {
    display: none;
}

.privacy-section .services-list {
    margin-bottom: 0;
}

.privacy-section .badge, .terms-section .badge {
    margin-top: 0 !important;
    display: none;
}

.reviews-section .badge, .articles-section .badge {
    margin-top: .5rem;
}

/* Mobile Version - For Samll Devices <=576 */
@media only screen and (max-width: 576px) {
    .home-image {
        height: 144px; /*Default Height for Mobile*/
    }

    .home-title {
        font-size: 18px;
        width: 220px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .home-subtitle {
        font-size: 10px;
        font-weight: 500;
        display: none;
    }

    .services-list {
        display: none;
    }

    .badge {
        background: none !important;
        font-size: 10px;
        font-weight: 400;
        padding-left: 0 !important;
    }

    .badge span {
        font-weight: 500;
    }

    .reviews-section .home-image, .articles-section .home-image, .article-details .home-image, .review-details .home-image, .terms-section .home-image, .privacy-section .home-image, .contact-section .home-image {
        height: 130px;
    }

    .reviews-section .home-title, .articles-section .home-title, .article-details .home-title, .review-details .home-title, .terms-section .home-title, .privacy-section .home-title, .contact-section .home-title {
        margin-top: 0;
        width: 250px;
    }

    .simplifiedChartMobile .home-image {
        height: 130px;
        padding: 0 10px;
    }

    .simplifiedChartMobile .home-title {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
    .simplifiedChartMobile .badge {
        display: block !important;
        margin: 0 0 10px 0 !important;
        background: transparent !important;
        color: #000000 !important;
        text-align: center !important;
    }
    .simplifiedChartMobile .carousel-products {
        margin-top: -25px !important;
    }
}

/*Devices: Horizontal mobile, tablet, table_1024*/
@media screen and (min-width: 576px) and (max-width: 1199px) {
    /*content container that overlaps the with banner*/
    .contact-section .products, .reviews-section .products, .articles-section .products {
        margin-top: -30px;
    }

    .review-details .home-image {
        height: 220px;
    }

    .review-details .products {
        margin-top: -60px;
    }
}

/* For Devices <768 - Few elements share same functionality in Small and Medium Devices */
@media only screen and (min-width: 577px) and (max-width: 767px) {
    .home-image {
        height: 225px; /*Default Height for Galaxy Tab*/
    }

    .reviews-section .home-image, .articles-section .home-image {
        height: 220px;
    }

    .contact-section .home-image, .terms-section .home-image, .privacy-section .home-image, .article-details .home-image {
        height: 220px;
    }

    .contact-section .home-title, .reviews-section .home-title, .articles-section .home-title, .terms-section .home-title {
        width: 675px;
    }
    .contact-section .home-subtitle, .reviews-section .home-subtitle, .reviews-section .home-subtitle, .articles-section .home-subtitle, .terms-section .home-subtitle {
        width: 625px;
    }

    .home-title {
        font-size: 24px;
        width: 330px;
    }

    .home-subtitle {
        font-size: 13px;
        width: 310px;
    }

    .service-title {
        font-size: 14px;
        padding-left: 11px;
    }

    .services-list {
        display: none;
    }

    .services-list li img {
        width: 30px;
        height: 28px;
        margin-bottom: 5px;
    }

    .badge {
        font-size: 10px;
        margin-top: -5px;
    }

    .editor-subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

/* For Devices Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .home-image .row .p-md-4 {
        padding: 1rem 2rem !important;
    }

    .home-image {
        height: 230px; /*Default for IPad tablet*/
        background-size: 100%;
    }

    .home-image.services-icon {
        height: 275px;
    }

    .reviews-section .home-image, .articles-section .home-image, .contact-section .home-image, .terms-section .home-image, .privacy-section .home-image, .article-details .home-image {
        height: 220px;
    }

    .contact-section .home-title, .reviews-section .home-title, .articles-section .home-title, .terms-section .home-title, .article-details .home-title, .review-details .home-title {
        width: 420px;
    }
    .contact-section .home-subtitle, .reviews-section .home-subtitle, .review-details .home-subtitle, .articles-section .home-subtitle, .article-details .home-subtitle, .terms-section .home-subtitle {
        width: 440px;
    }

    .home-title {
        font-size: 24px;
        width: 380px;
    }

    .home-subtitle {
        font-size: 12px;
        width: 390px;
    }

    .service-title {
        font-size: 14px;
        padding-left: 11px;
    }

    .services-list {
        margin-bottom: .5rem;
    }

    .services-list li img {
        width: 30px;
        height: 28px;
        margin-bottom: 5px;
    }

    .badge {
        font-size: 10px;
        margin-top: -5px;
    }
}

/* Tablet_1024 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .home-image.row.p-md-4 {
        padding: 1rem 2rem !important;
    }

    .home-image {
        height: 300px; /*Default height for IPad Pro*/
    }

    .reviews-section .home-image, .articles-section .home-image, .contact-section .home-image, .terms-section .home-image, .privacy-section .home-image, .article-details .home-image {
        height: 275px;
    }

    .contact-section .home-title, .reviews-section .home-title, .articles-section .home-title, .terms-section .home-title, .article-details .home-title, .review-details .home-title {
        width: 540px;
    }
    .contact-section .home-subtitle, .reviews-section .home-subtitle, .reviews-section .home-subtitle, .articles-section .home-subtitle, .terms-section .home-subtitle, .article-details .home-subtitle, .review-details .home-subtitle {
        width: 560px;
    }

    .home-title {
        font-size: 32px;
        width: 510px;
    }

    .home-subtitle {
        font-size: 16px;
        width: 510px;
    }

    .service-title {
        font-size: 14px;
        padding-left: 11px;
    }

    .services-list li img {
        width: 30px;
        height: 28px;
        margin-bottom: 5px;
    }

    .badge {
        font-size: 10px;
        margin-top: 0;
    }
}

/*Desktop*/
@media only screen and (min-width: 1200px) {
    .pr-2r {
        padding-right: 2rem !important;
    }

    .pl-2r {
        padding-left: 2rem !important;
    }

    .home-image {
        height: 325px; /*Default Height for Desktop*/
    }

    .home-image.services-icon {
        height: 355px;
    }

    .reviews-section .home-image, .articles-section .home-image {
        height: 355px;
    }

    .contact-section .home-image, .terms-section .home-image, .privacy-section .home-image, .article-details .home-image, .review-details .home-image {
        height: 275px;
    }

    .review-details .products {
        margin-top: -60px;
    }

    .contact-section .home-title, .reviews-section .home-title, .articles-section .home-title, .terms-section .home-title {
        width: 720px;
    }
    .contact-section .home-subtitle, .reviews-section .home-subtitle, .reviews-section .home-subtitle, .articles-section .home-subtitle, .terms-section .home-subtitle {
        width: 700px;
    }

    .home-title {
        width: 700px;
    }

    .home-subtitle {
        width: 700px;
    }

    .services-list {
        margin-bottom: 0 !important;
    }

    .badge {
        font-size: 12px;
        margin-top: 0;
    }

    .two-card-template .home-image {
        height: 355px;
        color: #fff;
        background-size: 100% 100% !important;
    }

    .home-image .row .p-xl-5 {
        padding: 4rem 3rem !important;
    }

}